<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <i class="fa fa-car"></i>
    <i class="fa fa-car" style="font-size: 48px"></i>
    <i class="fa fa-car" style="font-size: 60px; color: red"></i>
    <i class="fa-solid fa-bars"></i>
  </body>
</html>
